name: my-app

services:

  jin-web:
    container_name: jin-web
    image: jin-web
    ports:
      - "80:80"
      - "443:443"
    networks:
      - net_1

  jin-db:
    image: mysql
    container_name: jin-db
#    ports:
#      - "3308:3306"
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=true
      - MYSQL_USER=jin_app_1
      - MYSQL_PASSWORD=jin_app_1!
      - MYSQL_DATABASE=jin_exp_db
    networks:
      - net_1

  my-app:
    image: ghcr.io/silkair/infra_back:latest
#    image: my-app
    build: .
    container_name: my-app
    ports:
      - "8080:8080"
    networks:
      - net_1
    depends_on:
      - jin-db #컨테이너 이름이 아닌 서비스 이름

networks:
  net_1:
    name: net_1
    driver: bridge